body {
    font-family: Verdana, sans-serif;
    font-size: small;
}

.packet-id-matrix-container {
    display: inline-block;
}

.packet-id-matrix {
    border-collapse: collapse;
    white-space: nowrap;
    text-align: center;
    color: black;
    table-layout: fixed;
}

.packet-id-matrix.top-header {
    position: sticky;
    top: 0px;
    margin-left: -1px;
    margin-bottom: -1px;
    z-index: 2;
}

.packet-id-matrix.left-header {
    text-align: left;
    width: 45ex;
    position: sticky;
    left: 0px;
    z-index: 1;
}

.packet-id-matrix.contents {
    position: absolute;
    margin-left: -1px;
}

.packet-id-matrix.top-header col:not(:first-child),
.packet-id-matrix.contents col:not(:first-child) {
    width: 11ex;
}

.packet-id-matrix.top-header col:first-child,
.packet-id-matrix.contents col:first-child {
    width: 45ex;
}

.packet-id-matrix.top-header th:first-child,
.packet-id-matrix.contents th:first-child {
    border-top-color: white;
    border-left-color: white;
}

.packet-id-matrix.contents th {
    border-left-color: white;
    border-top-color: white;
    border-bottom-color: white;
}

.packet-id-matrix.top-header, .packet-id-matrix.contents {
    width: 100%;
}

.packet-id-changed {
    font-weight: bold;
}

.packet-id-matrix tr > * {
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
}

.packet-id-matrix tr.highlight > *,
.packet-id-matrix tr > *.highlight {
    background-repeat: repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QgHDywjLGFMHgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12NoYGhQAwADKwEnW0bWPwAAAABJRU5ErkJggg==);
}

.packet-format-changed { background-color: #FF8 !important; }
.packet-base           { background-color: #EEF !important; }
.packet-added          { background-color: #AFA !important; font-weight: bold; }
.packet-removed        { background-color: #FAA !important; }

.packet-removed::before {
    content: "—"; font-weight: bold;
}

.packet-state-handshaking.packet-bound-client::before { content: "HC "; color: #888; }
.packet-state-login.packet-bound-client::before       { content: "LC "; color: #888; }
.packet-state-play.packet-bound-client::before        { content: "PC "; color: #888; }
.packet-state-status.packet-bound-client::before      { content: "SC "; color: #888; }

.packet-state-handshaking.packet-bound-server::before { content: "HS "; color: #888; }
.packet-state-login.packet-bound-server::before       { content: "LS "; color: #888; }
.packet-state-play.packet-bound-server::before        { content: "PS "; color: #888; }
.packet-state-status.packet-bound-server::before      { content: "SS "; color: #888; }

.packet-id-matrix.top-header .pycraft-supported-version { color:#00F; }
.packet-id-matrix.left-header .pycraft-supported-packet-class { color:#00F; }
.packet-id-matrix a { color:inherit; }

.packet-id-matrix.contents .packet-present.pycraft-supported-packet-class { color:#F00; }
.packet-id-matrix.contents .packet-present.pycraft-supported-packet-class.pycraft-supported-version { color:#F0F; }
.packet-id-matrix.contents .packet-present.pycraft-supported-packet { color:#00F !important; }
